.contTable{
    padding: 24px;
}

.contracts-table {
    width: 100%;
    border-collapse: collapse; /* Colapsa los bordes de las celdas */
    font-family: Calibri, "Helvetica Neue", Arial, sans-serif;
}

.contracts-table thead th {
border-bottom: 2px solid rgb(172, 172, 172); /* Línea más gruesa para el encabezado */
padding: 16px;
text-align: left;
background-color: #ffffff;
}

.contracts-table tbody tr:nth-child(even) {
background-color: #ffffff;
}

.contracts-table tbody tr:nth-child(odd) {
background-color: #f7f7f7;
}

.contracts-table tbody td {
border-bottom: 1px solid rgb(204, 203, 203); /* Línea negra finita entre las filas */
padding: 16px;
}

.contracts-table tbody tr:last-child td {
border-bottom: none; /* Elimina la línea inferior de la última fila */
}

.contracts-table thead input[type="text"] {
    width: 100%;
    margin-bottom: 8px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordes redondeados */
    background-color: #f2f2f2; /* Fondo gris clarito */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total del input */
  }
  
  .contracts-table thead input[type="text"]:focus {
    outline: none; /* Quita el contorno azul por defecto al enfocar */
    border-color: #888; /* Cambia el color del borde al enfocar */
  }